.login{
 	background: linear-gradient(
      rgba(12, 11, 3, 0.8), 
      rgba(12, 11, 3, 0.8)
    ), url('/./assets/img/login-background.jpg');
    background-size: cover;
}

.page-content{
	min-height: 900px;
}
.sub-menu-active{
	display: block;
}
.toggle a i{
	color: #fff;
}
.mt-5{
	margin-top: 5px !important;
}
.ml-5{
	margin-left: 5px !important;
}
.nav_menu{
	background: #3c8dbc;
}
.save-btn{
	min-width: 100px;
}
.error{
	color: red;
}
.is-danger{
	border: 1px solid red !important;
}
.float-right{
	float: right;
}
.alert-success{
	padding: 5px 10px;
}
.active{
	color: green;
}
.inactive{
	color: red;
}
.top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover, .top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover{
	background: #1ABB9C;
}
.nav.navbar-nav>li>a{
	color: #fff !important;
}
.table > tbody > tr > td {
     vertical-align: middle;
}
/* Dashboard Home */

.small-box{
	border-radius: 2px;
	position: relative;
	display: block;
	margin-bottom: 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.small-box h3, .small-box p{
	    z-index: 5px;
}
.small-box h3{
	font-size: 38px;
	font-weight: bold;
	margin:  0 0 10px 0;
	white-space: nowrap;
	padding: 0;
}
.small-box p{
	font-size: 15px;
}
.new-bg-aqua{
	background: #FF8A66;
	padding: 15px 10px;
}
.new-inner h3{
	color: #fff;
}
.new-inner p{
	color: #fff;
}
.new-icon{
	transition: all .3s linear;
	position: absolute;
	top: -10px;
	right: 10px;
	z-index: 0;
	font-size: 90px;
	color: #fff;
}
.new-bg-green{
	background-color: #4DB7AD;
	padding: 15px 10px;
}
.new-bg-yellow{
	background-color: #F06292;
	padding: 15px 10px;
}
.new-bg-red{
	background-color: #9675CE;
	padding: 15px 10px;
}
.employee-atantion{
	background-color: #fff;
	border: 1px solid #1BBC9B;
	margin-top: 10px;
}
.employee-atantion h3{
	display: block;
	margin: 0;
	padding: 10px;
	background-color: #1BBC9B;
	color: #fff;
	text-transform: capitalize;
	font-size: 18px;
}
.employee-atantion .table-responsive{
	padding: 5px;
}
.employee-atantion .table-responsive tr th{
	border: 1px solid #ddd;
}
.hmnotice-board{
	background-color: #fff;
	border: 1px solid #34AB47;
	margin-top: 10px;
}
.hmnotice-board h3{
	display: block;
	margin: 0;
	padding: 10px;
	background-color: #34AB47;
	color: #fff;
	text-transform: capitalize;
	font-size: 18px;
}
.hmnotice-board .table-responsive{
	padding: 5px;
}
.hmnotice-board .table-responsive tr th{
	border: 1px solid #ddd;
}
.hmnotice-board .table-responsive tr td{
	border: 1px solid #ddd;
	text-transform: capitalize;
}
	/* student home */
	.agenda {  }

	/* Dates */
	.agenda .agenda-date { width: 170px; }
	.agenda .agenda-date .dayofmonth {
	  width: 40px;
	  font-size: 36px;
	  line-height: 36px;
	  float: left;
	  text-align: right;
	  margin-right: 10px; 
	}
	.agenda .agenda-date .shortdate {
	  font-size: 0.75em; 
	}


	/* Times */
	.agenda .agenda-time { width: 140px; } 


	/* Events */
	.agenda .agenda-events {  } 
	.agenda .agenda-events .agenda-event {  } 

	@media (max-width: 767px) {
	    
	}
	/* end student home */
/* End Dashboard Home */


.pagination>.active>a{
	color: green !important;
	font-weight: bold;
	font-size: 16px;
}
.fee-type{
	border-top: 3px solid green;
}
.certificate p{
	padding: 5px;
	word-spacing: 5px;
}
.certificate input{
	margin: 10px 0px;
	line-height: 2.42857143;
	background-color: #fff;
	color: #555;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
/* datepicker */
.calendar{
	border: 2px solid #1f567c;
	margin-top: 10px;
	min-height: 400px;
	text-align: center;
}
.calendar h4{
	background-color: #1f567c;
	color: #fff;
	padding: 10px;
}
/* end datepicker */
/* navbar flag img */
.localization img{
	width: 30px;
}

/* end navbar flag img */
.exam-marks{
	padding: 5px;
}
/* toggle switch button */
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

</style>
